<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Curso</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- AngularJS -->
    <script type="text/javascript" src='js/angular-1.7.2.js'></script>
    <!-- Script relativo ao controle da pagina -->
    <script type="text/javascript" src='app/curso.js'></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.css">

</head>


<body ng-app="AppCurso">

    <section ng-controller="CursoCtrl">

        <div class="containner" style="background: rgb(0, 123, 255); width:100%;" align="center">
            <header class="blog-header py-3 align-items-center">
                <div class="centered">
                    <h3 class="blog-header-logo text-white text-center">Descrição do curso</h3>
                </div>
            </header>
        </div>

        <div class="container" align="center">

            <br/>
            <div class="card text-center" style="width: 21.5em;">
                <img class="card-img-top" alt="Card image cap" align='center' style="width: 19,5rem; height: 12rem; overflow: auto;" src={{curso.banner}}>
            </div>

            <h4 class="card-title"> {{curso.title}}</h4>
            <h6 class="card-subtitle mb-2 text-muted">{{curso.subtitle}}</h6>

            <div class="row my-5">

                <!-- Lado esquerdo -->
                <div class="col-md-6 col-sm-12">
                    <div style="width: 21.5em;">

                        <h6 class="card-subtitle" style="text-align: justify;">O QUE VOCÊ VAI APRENDER</h6>
                        <br/>

                        <!-- ng-repeat referente as aulas -->
                        <div ng-repeat="aula in aulas">
                            <h6 class="card-subtitle mb-2 text-muted" style="text-align: left;">{{$index+1}} - {{aula.title}}</h6>
                        </div>

                        <br/>
                        <h6 class="card-subtitle">COMO FUNCIONA?</h6>
                        <br/>
                        <h6 class="card-subtitle mb-2 text-muted" style="text-align: justify;">{{comoFunciona}}</h6>
                        <br/>
                        <h6 class="card-subtitle">INCLUSO</h6>
                        <br/>
                        <h6 class="card-subtitle mb-2 text-muted" style="text-align: justify;">{{incluso}}</h6>

                    </div>
                </div>

                <!-- Lado direito -->
                <div class="col-md-6 col-sm-12">
                    <div style="width: 21.5em;">

                        <h6 class="card-subtitle">SOBRE</h6>
                        <br/>
                        <h6 class="card-subtitle mb-2 text-muted" style="text-align: justify;">{{curso.resume}}</h6>
                        <br/>
                        <h6 class="card-subtitle">OBJETIVO</h6>
                        <br/>
                        <h6 class="card-subtitle mb-2 text-muted" style="text-align: justify;">{{curso.goal}}</h6>
                        <br/>
                        <h6 class="card-subtitle">INSTRUTOR</h6>
                        <br/>
                        <h6 class="card-subtitle mb-2 text-muted">{{curso.teachers_names}}</h6>
                        <br/>
                        <h6 class="card-subtitle">CARGA HORARIA</h6>
                        <br/>
                        <h6 class="card-subtitle mb-2 text-muted">{{curso.duration}}</h6>

                    </div>
                </div>

            </div>

        </div>

    </section>

</body>

</html>