<!DOCTYPE html>
<html lang="pt-br">

<head>
    <title>Desafio WEB - CEFIS</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- AngularJS -->
    <script type="text/javascript" src='js/angular-1.7.2.js'></script>
    <!-- Script relativo a paginacao dos cursos -->
    <script type="text/javascript" src='js/paginacao.js'></script>
    <!-- Script relativo ao controle da pagina -->
    <script type="text/javascript" src='app/index.js'></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.css">
    <!-- CSS especifico da pagina -->
    <link rel="stylesheet" href="css/index.css">

</head>

<body ng-app="AppCursos">

    <div class="containner" style="background: rgb(0, 123, 255); width:100%;" align="center">
        <header class="blog-header py-3 align-items-center">
            <div class="centered">
                <div class="container" align="center">
                    <div class="row">
                        <div class="col-md-4">
                            <h3 class="blog-header-logo text-white text-center">Cursos</h3>
                        </div>
                        <div class="col-md-8">
                            <input class="form-control" type="text" placeholder="Pesquise seu curso..." ng-model="busca">
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>

    <div class="container" align="center">

        <section ng-controller="CursosCtrl">

            <div class="album py-5">
                <div class="row">
                    <div class="col-md-4" dir-paginate="curso in cursos | filter:busca | itemsPerPage:6">
                        <div class="card mb-4 shadow-sm" style="width: 20rem; height: 14rem; overflow:auto;" align="center">
                            <img class="card-img-top" alt="Card image cap" style="width: 19,5rem; height: 12rem; overflow: auto;" src={{curso.banner}}>
                            <div class="card-body">
                                <h4 class="card-title"> {{curso.title}}</h4>
                                <h6 class="card-subtitle mb-2 text-muted">Com {{curso.teachers_names}}</h6>
                                <a href class="btn btn-primary" ng-click="verCurso(curso.id)">Ver curso</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Paginador -->
                <dir-pagination-controls id="paginador" max-size="4" boundary-links="true" direction-links="true" auto-hide="true" template-url="templates/paginador.html"></dir-pagination-controls>
            </div>

        </section>
    </div>

</body>

</html>