<ul class="pagination" ng-if="1 < pages.length">

    <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == 1 }">
        <a class="btn btn-primary" href="" ng-click="setCurrent(1)">
            << </a>
    </li>

    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == 1 }" class="ng-scope">
        <a class="btn btn-primary" href="" ng-click="setCurrent(pagination.current - 1)" class="ng-binding">
            < </a>
    </li>

    <li ng-repeat="pageNumber in pages track by $index" ng-class="{ active : pagination.current == pageNumber, disabled : pageNumber == '...' }">
        <a class="btn btn-primary" href="" ng-click="setCurrent(pageNumber)">{{ pageNumber }}</a>
    </li>

    <li ng-if="directionLinks" ng-class="{ disabled : pagination.current == pagination.last }" class="ng-scope">
        <a class="btn btn-primary" href="" ng-click="setCurrent(pagination.current + 1)" class="ng-binding"> > </a>
    </li>

    <li ng-if="boundaryLinks" ng-class="{ disabled : pagination.current == pagination.last }">
        <a class="btn btn-primary" href="" ng-click="setCurrent(pagination.last)"> >> </a>
    </li>

</ul>